nav{
   
    display: flex;
    justify-content:space-between;

    .left-aligned-nav{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        align-items: center;
        
    }
    .right-aligned-nav{
        display: flex;
        width: 10vw;
        justify-content: space-between;
        align-items: center;
    }

}